<footer class="footer-copyright text-center text-white py-3 primary-color-dark darken-2">
  &copy; 2020 - Julio C&eacute;sar Melchor Pinto on 
  <a class="text-white ml-1 mr-2" href="https://github.com/JulioMelchorPinto"><i class="fab fa-github"></i></a>
  <a class="text-white mr-2" href="https://twitter.com/MelchorPinto"><i class="fab fa-twitter"></i></a>
  <a class="text-white mr-2" href="https://facebook.com/jmelchorp"><i class="fab fa-facebook"></i></a>
  <a class="text-white mr-2" href="https://www.linkedin.com/in/jmelchorp"><i class="fab fa-linkedin"></i></a>
</footer>