<footer class="footer-copyright text-center text-white py-3 primary-color-dark darken-2">
	<div class="row">
    	<div class="col-md-6">
		    <p>&copy; 2020 - {{'OwnersName' | translate}} {{'On' | translate}} 
				  <a class="text-white ml-1 mr-2" href="https://github.com/JulioMelchorPinto">
				  	<i class="fab fa-github"></i>
				  </a>
				  <a class="text-white mr-2" href="https://twitter.com/MelchorPinto">
				  	<i class="fab fa-twitter"></i>
				  </a>
				  <a class="text-white mr-2" href="https://facebook.com/jmelchorp">
				  	<i class="fab fa-facebook"></i>
				  </a>
				  <a class="text-white mr-2" href="https://www.linkedin.com/in/jmelchorp">
				  	<i class="fab fa-linkedin"></i>
				  </a>
			</p>
    	</div>
		<div class="col-md-6">  
	        <p>{{'ShareOn' | translate}}:
	        	<a type="button" 
	        	   class="mr-3 ml-3"
	        	   target="_blank"
	        	   href="https://www.facebook.com/sharer/sharer.php?u=https://jmelchorp-mdb.web.app">
                	<mdb-icon size="lg" fab icon="facebook-f"></mdb-icon>
                </a>
		        <a type="button" 
	        	   class="mr-3"
	        	   target="_blank"
		           href="https://twitter.com/intent/tweet?url=https://jmelchorp-mdb.web.app&hashtags=Apps,developers,angular9,firebase&text=Una aplicación%20para%20crear%20tu%20portafolio%20de%20trabajo%20y%20mostrarlo%20en%20internet">
		            <mdb-icon size="lg" fab icon="twitter"></mdb-icon>
		        </a>
		        <a type="button" 
	        	   class="mr-3"
	        	   target="_blank"
		           href="whatsapp://send?text=Una aplicación para crear tu portafolio de trabajo y mostrarlo en internet https://jmelchorp-mdb.web.app"
		           data-action="share/whatsapp/share">
		            <mdb-icon size="lg" fab icon="whatsapp"></mdb-icon>
		        </a>
		        <a type="button" 
	        	   class="mr-3"
	        	   target="_blank"
	        	   href="https://paypal.me/beaverNet">
		        	<mdb-icon size="lg" fab icon="paypal"></mdb-icon>
		        </a>   
	        </p>
      	</div>
  	</div>
</footer>