<div class="container full-page-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-8 text-center fadeIn animated">
      <h1 class="app-heading mb-4">Julio C&eacute;sar Melchor Pinto</h1>
        <h3 class="mb-4"><strong>Portafilio de trabajo</strong></h3>
      <a mdbBtn color="primary" size="lg" class="mb-2" routerLink="/register">Crea una cuenta</a>
      <p>
        <small>¿Ya tienes una cuenta?
          <a mdbBtn color="success" size="sm" routerLink="/login">Inicia Sesi&oacute;n</a></small>
      </p>
    </div>
  </div>
</div>