<div class="container full-page-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-8 text-center fadeIn animated">
      <h1 class="app-heading mb-4">{{'OwnersName' | translate }}</h1>
        <h3 class="mb-4"><strong>{{'MainTitle' | translate }}</strong></h3>
      <a mdbBtn color="primary" size="lg" class="mb-2" routerLink="/register">{{'RegisterTitle' | translate}}</a>
      <p>
        <small>{{'AlreadyAccount' | translate}}
          <a mdbBtn color="success" size="sm" routerLink="/login">{{'Login' | translate}}</a></small>
      </p>
    </div>
  </div>
</div>